<h1>{{feed && feed.title}}</h1>

<div>
  <img [src]="feed && feed.imageUrl" />
  <h6>{{feed && feed.description}}</h6>
</div>

<div style="margin-bottom: 16px" class="row">
  <div class="col-md-10">
    <input type="text" [(ngModel)]="searchTitle" class="form-control input-lg" placeholder="Search by Title" />
  </div>

  <div class="col-md-2">
    <button (click)="search()" class="search-feed-entry btn btn-primary btn-large">Search</button>
  </div>
</div>

<app-feed-entry-list [entries]="entries"></app-feed-entry-list>
